.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

ul,
li {
  margin: .5rem 0;
  padding: 0;
}

li {
  /* text-align: right; */
  /* list-style-type: none; */
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
}
/* li b {
  text-align: left;
} */

.input-item {
  height: 30px;
  width: auto;
  border: transparent;
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: .2rem .2rem;
}

.about p {
  color: #909090;
}

.about hr {
  width: 50%;
  margin: 0 auto;
}
.btn {
  background: #0080e0a3;
  color: black;
  font-weight: 400;
}

.form-control {
  background: gainsboro;
  -webkit-box-shadow: 2px 2px 10px -5px rgba(34, 60, 80, 0.6) inset;
  -moz-box-shadow: 2px 2px 10px -5px rgba(34, 60, 80, 0.6) inset;
  box-shadow: 2px 2px 10px -5px rgba(34, 60, 80, 0.6) inset;
}
.search-btn {
  width: 120px;
  border: none;
}
.result-item {
  padding: 20px;
  min-height: 420px;
  /* border: 1px solid rgb(128, 126, 126); */
  box-shadow: 2px 2px 10px 2px rgb(200, 199, 199);
  border-radius: 3%;
}
.result-item li {
  /* padding: 5px 0 10px 0; */
  border-bottom: 1px solid rgb(211, 210, 210);
  height: 50px;
  align-items: center;
}
.result-item li:first-child {
  text-align: center;
  height: 70px;
}
.result-item li:last-child, .result-item li:first-child {
  border: none;
}